@import "select2"

// ===================
// Variables
// ===================
$blue = #40b0bf

// ===================
// Globals
// ===================
*
    box-sizing border-box

html,
body
    height 100%
    margin 0
    min-height 100%
    padding 0

input,
textarea
    -webkit-appearance none
    appearance none

// ===================
// Patterns
// ===================
.button
    background #f6f6f6
    border 1px solid #ddd
    border-radius 4px
    color #444
    display inline-block
    padding 10px 15px
    text-decoration none
    transition background 250ms

    &:hover,
    &:focus
        background darken(#f6f6f6, 5%)

.content
    margin 0 auto
    width 800px

.center
    text-align center
    
// ===================
// Home
// ===================
.org-form
    display none

    fieldset
        border none
        
.org-form__field
    border none
    border-bottom 1px solid #ccc
    padding 5px 10px
    margin-right 10px
    
    &:focus
        border-bottom 2px solid #aaa
        outline none

// ===================
// Header
// ===================
.page-header
    padding 20px 20px 0px

    &__title
        text-align center

.yelp-search
    padding 40px 0 40px
    position relative

    &__inputs
        border 1px solid #ddd
        border-radius 4px
        margin 0 auto
        max-width 800px
        padding 0
        width 98%

        @media (max-width: 600px)
            border none

    &__field
        float left
        font-size 16px
        outline none
        width 80%

        @media (max-width: 600px)
            float none
            width 100%

        .select2-search-field
            width 100%

            @media (max-width: 600px)
                border 1px solid #ddd
                width 100%

            .select2-input
                border 0
                font-size 16px
                height 50px
                line-height 30px
                margin 0
                outline none
                padding 20px 20px
                width 100% !important

        &--submit
            background $blue
            border none
            border-radius 0 4px 4px 0
            color #fff
            cursor pointer
            float right
            height 50px
            line-height 50px
            width 20%

            @media (max-width: 600px)
                border-radius 4px
                float none
                margin-top 10px
                width 100%


// ===================
// Content
// ===================
.results__list
    display flex
    flex-wrap wrap
    list-style none
    margin 0 auto
    max-width 1000px
    padding 0

    &__item
        background #f6f6f6
        flex auto
        margin 1%
        position relative
        transition background 250ms, box-shadow 350ms
        width 31.333333333%

        @media (max-width: 800px)
            width 48%

        @media (max-width: 600px)
            width 98%

        &.selected
            background #fff
            box-shadow 0 0 10px 5px rgba($blue, 0.5)

        &__yelp-link
            color $blue
            text-decoration none

        &__image
            float left

        &__details
            overflow hidden // keep away from image
            padding 10px
            padding-right 25px

        &__name
            display block
            font-size 1.2em
            margin-bottom 5px

        &__rating
            display block
            margin-bottom 5px

        &__phone
            color $blue
            display block
            text-decoration none

        &__delete
            background $blue
            font 0/0 a // hide text
            height 20px
            position absolute
            right 0
            top 0
            transition background 250ms
            width 20px

            &::before,
            &::after
                background #fff
                content ""
                height 2px
                left 50%
                position absolute
                top 50%
                transition background 250ms
                width 16px

            &:before
                transform translate(-50%, -50%) rotate(-45deg)

            &:after
                transform translate(-50%, -50%) rotate(45deg)

            &:hover,
            &:focus
                background transparent

                &::before,
                &::after
                    background $blue

.select2-results
    background #fff
    box-shadow 0 0 3px rgba(0, 0, 0, 0.2)
    list-style none
    margin 0
    padding 0
    width auto

    li
        border-bottom 1px solid #eee
        padding 10px

    &:last-child
        border-bottom none

    .restaurant
        color #999
        overflow hidden // clearfix

        &__image
            float left
            margin-right 15px
            width 75px

        &__name
            color #333
            margin 0 0 5px
                