block chat

    //- this is temporary as fuck
    .chat-login.center
        label your name
        input.username

        button.submit-username Submit
    
    h3 current idiots
    ul.current-users

    .chat-window
        .chat-content
            ul.chatz

        .chat-controls
            input.message

            button.send-message Send
