block chat

    h3 current idiots
    ul.current-users

    .chat-window
        .chat-content
            ul.chatz

        .chat-controls
            input.message

            button.send-message Send
