block chat

    //- this is temporary as fuck
    .chat-login
        input.username

        button.submit-username Submit

    .chat-window
        .chat-content

        .chat-controls
            input.message

            button.send-message Send