extends layout

block content
    section.full-height.welcome
        .fixed-content
            h1.welcome__title Find Your Group
            form.welcome__find-group(action="/search", method="GET")
                input.welcome__find-group__input(name="s", id="s")
                label.welcome__find-group__label(for="s") Search by Group Name, Members or Location

    block addGroup
        include addGroup

    .group
        block groups
            include groups
