extends layout

block content

    form(class='yelp-search', action='/search', method='post')
        fieldset
            input(class='yelp-search__field', name='restaurant', placeholder='Search for a restaurant', type='search')

            input(type='submit', value='submit')

    .results
        block results
            include results
