extends layout

block content
    h1.page-title= title

    form.yelp-search(action='/search', method='post')
        .yelp-search__container
            fieldset.yelp-search__inputs
                input.yelp-search__field.yelp-search__field--text(name='restaurant', placeholder='Search for a restaurant', type='search')

                input.yelp-search__field.yelp-search__field--submit(type='submit', value='Submit')

    .results
        block results
            include results
