extends layout

block content

    form(class='yelp-search', action='/search', method='post')
        fieldset
            input(class='yelp-search__field', name='restaurant', placeholder='Search for a restaurant', type='search')

            input(type='submit', value='submit')

    .results
        block results
            include results

block footerjs
    script(type="text/javascript").

        function restaurantFormatResult (restaurant) {
            var markup = "<table class='restaurant-result'><tr>";
            if (restaurant.image_url !== undefined) {
                markup += "<td class='restaurant-image'><img src='" + restaurant.image_url + "'/></td>";
            }
            markup += "<td class='restaurant-info'><div class='restaurant-name'>" + restaurant.name + "</div>";
            if (restaurant.rating !== undefined) {
                markup += "<div class='restaurant-rating'>" + restaurant.rating + "</div>";
            }
            markup += "</td></tr></table>";
            return markup;
        }

        function restaurantFormatSelection (restaurant) {
            return restaurant.name;
        }

        function restaurantListFormat (item) {
            var markup = '<li class="results__list__item">';

            if (item.is_closed) {
                markup += '<span class="results__list__item__closed">Closed :(</span>';
            }

            markup += '<a class="results__list__item__yelp-link" href="' + item.url + '">';
                markup += '<img class="results__list__item__image" src="' + item.image_url + '">';
                markup += '<span class="results__list__item__name">' + item.name + '</span>';
            markup += '</a>';

            markup += '<span class="results__list__item__rating">' + item.rating + '</span>';
            markup += '<a class="results__list__item__telephone" href="tel:' + item.phone + '">' + item.display_phone.replace('+1-', '') + '</a>';

            markup += '<a class="results__list__item__delete" href="#">X</a>';

            markup += '</li>';
            return markup;
        }

        jQuery(function($) {
            var $form = $('.yelp-search'),
                $results = $('.results');

            $form
                .find('.yelp-search__field').select2({
                    minimumInputLength: 2,
                    ajax: {
                        url: "/search",
                        data: function (term, page) {
                            return {
                                'restaurant': term,
                                'page_limit': 10
                            };
                        },
                        results: function (data, page) {
                            return {results: data.businesses};
                        }
                    },
                    formatResult: restaurantFormatResult, // omitted for brevity, see the source of this page
                    formatSelection: restaurantFormatSelection,  // omitted for brevity, see the source of this page
                    dropdownCssClass: "bigdrop", // apply css that makes the dropdown taller
                    escapeMarkup: function (m) { return m; } // we do not want to escape markup since we are displaying html in results
                })
                .end()
                .submit(function(event) {
                    var data = $form.find('.yelp-search__field').select2('data'),
                        itemContent = restaurantListFormat(data);

                    $.ajax({
                        url: '/restaurant',
                        data: data,
                        type: 'post',
                        success: function(data) {
                            $results.html(data);
                        }
                    });
                    return false;
                });
        });
