doctype html
html
    head
        title= title
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/styles/main.css")

    body
        block content

        script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
        script(src="/plugins/select2/select2.min.js")
        script(src="/js/main.min.js")
