doctype html
html
    head
        title= title
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/styles/main.css")

    body(class= bodyClass)
        header.site-header
            .fixed-content
                .site-header__logo
                    a(href="/")
                        img(src="/img/logo.png", alt="Grouplun.ch")

                include account
                include navigation

        block content

        script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
        script(src="/plugins/select2/select2.min.js")
        script(src="//cdn.socket.io/socket.io-1.2.1.js")
        script(src="/js/main.min.js")

        block scripts
